{% extends '@dashboard/layout/auth.html.twig' %}

{% block body %}
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h5 class="nk-block-title">{{ 'auth.label.login_title' | trans }}</h5>
            <div class="nk-block-des"><p>{{ 'auth.label.login_description' | trans }}</p></div>
        </div>
    </div>
    <form action="" method="post">
        <div class="form-group">
            <div class="form-label-group">
                <label class="form-label" for="username">{{ 'auth.label.username' }}</label>
            </div>
            <input type="text" name="username" class="form-control form-control-lg" id="username" placeholder="Enter your email address or username">
        </div>
        <div class="form-group">
            <div class="form-label-group">
                <label class="form-label" for="password">{{ 'auth.label.password' }}</label>
                <a href="" class="link link-primary link-sm" title="{{ 'auth.label.forgot_password' | trans  }}" aria-labelledby="{{ 'auth.label.forgot_password' | trans }}">
                    {{ 'auth.label.forgot_password' | trans }}
                </a>
            </div>
            <div class="form-control-wrap">
                <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch" data-target="password">
                    <em class="passcode-icon icon-show icon ni ni-eye"></em>
                    <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                </a>
                <input type="password" name="password" class="form-control form-control-lg" id="password" placeholder="Enter your passcode">
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">{{ 'auth.label.login' | trans }}</button>
        </div>
    </form>
    <div class="form-note-s2 pt-4">
        {{ 'auth.label.registration_question' }}
        <a href="" title="{{ 'auth.label.register' }}" aria-labelledby="{{ 'auth.label.register' }}">
            {{ 'auth.label.register' }}
        </a>
    </div>
    <div class="text-center pt-4 pb-3">
        <h6 class="overline-title overline-title-sap"><span>OR</span></h6>
    </div>
    <ul class="nav justify-center gx-4">
        <li class="nav-item"><a class="nav-link" href="#">Facebook</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Google</a></li>
    </ul>
{% endblock %}
